body {
    background-image: linear-gradient(#121640, black);
    height: fit-content;
    min-height: 100vh;
}

header,
nav,
main,
footer {
    padding: 1em 0;
}

header {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start ;    
    color: black;
    text-align: center;
  
}

.header_titre {
    font-size:large;
    width: 80%;
}

.header_logo {
    width: 12%;
    padding-top: 1%;
}

.header_logo > a > img{
    width: 60%;
    transition: all 0.7s ease-in-out;
}



.colorJuste
{
    color: #00c4cc;
    transition: all 0.7s ease-in-out;
}

.colorJuste:hover
{
    font-size: x-large;
}

.colorDanse
{
    color: #ee3ec9;
    transition: all 0.7s ease-in-out;
}

.colorDanse:hover
{
    font-size: x-large;
}


nav { 
    font-family: 'Montserrat', sans-serif;
    padding-left: 1em;
    padding-right: 1em;
	line-height: 2em;
}

ul
{
    display: flex;
    justify-content: space-around;  
}

.links li
{
    list-style: none;
}

a{
    text-decoration: none;
    color: #00c4cc;
}

.links a, .retour a {
    text-decoration: none;

    color: #00c4cc;
    font-size: medium;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.7s ease-in-out;
}

.links a:hover, .retour a
{
    background-color: white;
    box-shadow: 8px 8px 2px 1px #cb88ff;
    color: #cb88ff;
    font-size: large;
}

.main_div
{
    color: #00c4cc;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    text-align: center;
    min-height: 60vh;
}

.tdb
{
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

.bloc_tdb
{
    font-size: 1em;
    border: solid #121640;
    border-radius: 20px;
    padding: 20px;
    transition: all 0.7s ease-in-out;
}

.bloc_tdb:hover
{
    font-size: 1.03em;
}

.page
{
    padding: 2%;
}


.titre_page
{
    font-size: x-large;
}

.ecole, .federation
{
    min-height: 60vh;
    padding: 20px;
}



.info_accueil
{
    font-size: x-small;
    text-align: left;
}

.stats_accueil
{
    font-family: 'Montserrat', sans-serif;
    min-height: 40vh;
    width: auto;
    display: flex;
    justify-content: space-between ;    
    text-align: center;
    padding: 20px;
}

.bloc_stats
{
    min-width: 20%;
    width: 20%;
    overflow: scroll;
    height: 45vh;
    border: solid #121640;
    font-size: large;
    border-radius: 20px;
    padding: 20px;
    transition: all 0.7s ease-in-out;
}

.bloc_stats th, .bloc_stats td
{
    font-size: small;
}

.bloc_stats:hover
{
    min-width: 21%;
    cursor: pointer;
}

.bloc_stats p
{
    font-size: medium;
}



hr{
    height: 1px;
    background-color: #cb88ff;
    border: none;
}
.modif
{
    padding: 2%;
}

.modif p
{
    font-size: medium;
}

.filtre , .form_accueil
{
    width: auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.filtre input , .form_accueil input
{
    font-family: 'Montserrat', sans-serif;
    width : 10%;
    color: #cb88ff;
    background: none;
    border: none;
    font-size: x-large;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    transition: all 0.7s ease-in-out;
}


.filtre input:hover, .form_accueil input:hover
{
    color: #ee3ec9;

}

.filtre  select, .filtre input[type=text] , .form_accueil  select
{
    font-family: 'Montserrat', sans-serif;
    width: auto; 
    color: #00c4cc;
    background: none;
    border-radius: 10px;
    border: solid #00c4cc;
    font-size: x-large;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    transition: all 0.7s ease-in-out;
}

.form_accueil input[type=text]
{
    font-family: 'Montserrat', sans-serif;
    width: 30%; 
    color: #00c4cc;
    background: none;
    border-radius: 10px;
    border: solid #00c4cc;
    font-size: x-large;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    transition: all 0.7s ease-in-out;
}

.filtre  input[type=submit]:hover, .filtre  select:hover , .form_accueil  input[type=submit]:hover, .form_accueil  select:hover
{
    cursor: pointer;
}

.filtre input[type=text]:hover
{
    border: solid #cb88ff;
    color: #cb88ff;
}

.table_resultat{
    width: 100%;
    border: 1px solid #00c4cc;
    background-color: none;
    font-size: large;
    text-align: center;
    padding: 10px;
}



.table_resultat  thead  tr{
    color: white;
    background-color: #cb88ff;
    padding: 10px;
}

.table_resultat  tbody  tr{
    transition: all 0.2s ease-in-out;
    padding: 10px;
}

.table_resultat  tbody  tr:hover{
    cursor: pointer;
    background-color: #cb88ff !important;
    color:  white;
}

.bloc_cours, .bloc_compet
{
    width : 50%;
}


.res_ins , .res_com
{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.ajout
{
    padding: 20px;
}

.retour
{
    padding: 5%;
}






footer {
    text-decoration: none;
	display: flex;
    color: #00c4cc;
	justify-content: space-around;
    font-size: small;
    font-family: 'Montserrat', sans-serif;
}